body {
  margin: 0;
  padding: 0;
}

header {
  
  text-align: center;
}
h1 {
  font-family: "Patua One";
  font-size: 50px;
  color: aliceblue;
  text-shadow: 0.1em 0.1em 0.2em lightsalmon;
}
h3 {
  font-family: "Averia Libre";
  font-size: 30px;
  color: aliceblue;
  text-shadow: 0.1em 0.1em 0.2em lightsalmon;
}
body {
  background-color: rgb(52, 235, 152);
  margin: 10px;
  padding: 10px;
  width: 96,5%;
  height: 90%;
}
main {
  display: flex;
  justify-self: center;
  align-self: center;
}
section#code {
  display: flex;
  justify-content: center;
  text-align: center;
  
  border: 3px solid lightsalmon;
  width: 200px;
  height: 130px;
  
  left: 400px;
  bottom: 200px;
  background-color: aliceblue;
  opacity: 0.85;
}
label {
  color: black;
  font-style: bold;
  font-family: "Patua One";
}
section#decode {
  display: flex;
  justify-content: center;
  text-align: center;
  
  border: 3px solid lightsalmon;
  width: 200px;
  height: 130px;
  
  background-color: aliceblue;
  opacity: 0.85;
}
.boxresult {
  display: flexbox;
  height: 150px;
  width: 450px;
  justify-content: center;
  text-align: center;
  margin-left: 32%;
  border: solid lightsalmon;
  background-color: lightblue;
  margin-top: 100px;
  margin-bottom: 50px;
  overflow: scroll;
  word-wrap: break-word;
  font-family: "Patua One";
  opacity: 0.80;
}
.text {
  height: 50px;
  width: 150px;
  perspective: 10px;
  overflow: scroll;
  font-family: "Averia Libre";
  
}

.key {
  height: 20px;
  width: 35px;
}
.button {
  text-shadow: 1px;
  background-color: aquamarine;
  border: 2px solid green;
  
}
.button:hover {
  background-color: lightsalmon;
  opacity: unset;
}